<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create product</title>
</head>
<body>
<form action="#"
      th:action="@{/product-update}"
      th:object="${product}"
      method="post">
    <label for="productId">product ID</label>
    <input type="number"
           th:field="*{productId}"
           id="productId"
           placeholder="product ID">
    <br/>
    <label for="productName">product name</label>
    <input type="text"
           th:field="*{productName}"
           id="productName"
           placeholder="Product Name">
    <br/>
    <br/>
    <input type="submit"
           value="Update Product">
</form>

</body>
</html>